{%extends "layout.html"%}
{%block content%}
    <body>
        <h1>Software Development Summary</h1>
		<hr><br>
		<table>
			<caption style="text-align: left;font-size: 24px;font-weight: bold;">Software Development Careers<br><br></caption>
			<tr class="tr">
				<td>Job Title</td>
				<td>Job Type</td>
				<td>Education</td>
				<td>Salary</td>
			</tr>
			<tr>
				<td>Web Developer</td>
				<td>Front-End</td>
				<td>Bachelors Degree, Certifications</td>
				<td>$94,319</td>
			</tr>
			<tr>
				<td>Software Engineer</td>
				<td>Back-End</td>
				<td>Bachelors/Masters Degree</td>
				<td>$103,214</td>
			</tr>
			<tr>
				<td>Software Developer</td>
				<td>Full-Stack</td>
				<td>Bachelors Degree, Certifications</td>
				<td>$102,375</td>
			</tr>
		</table><br>
		<hr>
		<h2>Career Summary Video</h2>
			<iframe width="550" height="350" src="https://www.youtube.com/embed/leOX1ehXHNM"></iframe>
		<p>
			Let's talk about these software development careers. There is so much opportunity out there for people who really want to obtain a position as a developer. There are a variety of roles<br>
			and very unique positions out there for people who have better graphic design skills or better logic and math skills. A web developer is typically more design oriented and will excel in<br>
			jobs that use HTML, CSS, and JavaScript. Front-End developers usually have a bachelors degree and even certifications on top of that and have average salaries aroune ninety thousand dollars.<br>
			Alternately, software engineers typically are more logic oriented and enjoy using back-end technologies and languages such as Java, C#, SQL, and JavaScript. Since their jobs are usually<br>
			more math oriented, many of them will have bachelors and masters degrees and their salaries are a little over one-hundred thousand on average. Lastly, regular software developers will be<br>
			full-stack developers. This means they will enjoy programming both the front-end and back-end and will use technologies and languages such as Java, C#, SQL, JavaScript, HTML, and CSS. Their<br>
			education level is usually at least a bachelors degree with some certifications and their salary range is just over one-hundred thousand on average. Thank you for visiting my website and<br>
			I hope you enjoyed learning about the software development career field.
		</p>
		<hr>
    </body>
</div>
{%endblock%}